*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #231F20;
}
 
/* Navbar Header */

#header{
	width: 100%;
	height: 80px;
	background-color: #231F20;
	color: #fff;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: fixed;
	z-index: 2;
}

/* First logo of navigation bar */
#header .logo1{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 5px 0px;
}

#header a{
	margin: 30px;
	font-size: 20px;
	text-decoration: none;
	color: white;
}

/* Header Navigation Search bar */

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  margin: 8px 5px;
}

.icon {
  padding: 5px;
  margin-top: 15px;
  background: #5133A7;
  color: white;
  min-width: 40px;
  height: 30px;
  text-align: center;
  border-radius: 5%;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  height: 30px;
  margin-top: 15px;
  background-color: #5133A7;
}

.input-field:focus {
  border: 1px solid #5133A7;
}

.icon-bell{
	padding: 6px;
	margin: 15px 30px;
}

/* Second logo of navigation bar */
#header .logo2{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}



/* Side Menu items */

#side .sidenav {
  height: 100%;
  width: 30%;
  margin-top: 80px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #231F20;
  overflow-x: hidden;
  padding-top: 10px;
  margin-right: -20px;
}

.sidenav .div1 {
	position: fixed;
	top: 80px;
	background-color: #231F20;
	width: 30%;
	height: 100px;
}

.sidenav .div1 p{
  float: left;
  margin-top: 60px;
  margin-left: 10px;
  font-size: 25px;
  color: #fff;
}

.sidenav .que-dropdown{
  float: right;
  padding: 5px;
  font-size: 15px;
  color: #fff;
  margin-top: 60px;
  margin-right: 20px;
  cursor: pointer;
}
.que-dropdown .expand{
	font-size: 15px;
	margin-left: 15px;
}

.que-dropdown ul li{
	list-style: none;
	display: block;
	width: 120px;
}

.que-dropdown ul li ul{
	display: none;
	width: 200px;
	background-color: white;
	margin-left: -100px;
	border-radius: 2px;
}

.que-dropdown ul li ul li{
	font-size: 15px;
	padding: 5px;
	width: 170px;
	border-bottom: 1px solid gray;
	margin: auto;
}

.sidenav .que-dropdown ul li:hover >ul {
  color: #000;
  display: block;
  cursor: pointer;
}

.side-content {
	width: 100%;
  margin: 100px auto; /* Same as the width of the sidenav */
  padding: 0px 10px;
}


.side-content table{
	padding: 10px;
	width: 100%;
}

.side-content table tr td{
	padding: 5px;
	font-size: 15px;
	color: #ddd;
}

.side-content table tr td span{
	font-size: 15px;
	color: #ddd;
	margin-right: 50px;
}

       /* Start Main tag
              * images section */

.image-section{
	width: 70%;
	display: flex;
	justify-content: space-around;
	padding: 50px;
}

.image-section img:hover{
	width: 300px;
	height: 300px;
 
 -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
}

.image-section img{
	width: 250px;
	height: 250px;
	margin-top: 100px;
	border-radius: 10px;
	transition: width 1s, height 1s;
}

/* Release Song Section */

#release-song table{
	padding: 0px;
	margin-left: 70px;
	width: 60%;
}

#release-song caption{  
	font-size: 20px;
	margin-left: -85%;
	color: #ddd;
}


#release-song table tr td{
	padding: 5px;
	font-size: 15px;
	color: #ddd;
}

/* Release Dropdown */
#release-song .release-song-dropdown{
	font-size: 15px;
	display: none;
	width: 200px;
	padding: 0px;
	z-index: 1;
	margin-left: -180px;
	position: absolute;
	background-color: #fff;
	border-left: 1px solid gray;
}

.release-icon:hover{
	cursor: pointer;
}

#release-song .release-icon:hover >.release-song-dropdown{
	display: block;
	cursor: pointer;
	color: #000;
}

.dropdown:hover{
	background-color: #ddd;
	color: #000;
}
.dropdown{
	border-bottom: 1px solid gray;
	padding: 5px;
}

/* Play icon inside release songs images */

.container {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 80px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.container:hover .overlay {
  opacity: 0.7;
}

.icons{
  color: white;
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/* Custom Audio */

.audio-container{
	width: 100%;
	height: 60px;
	background-color: #231F49;
	color: #fff;
	overflow: hidden;
	position: fixed;
	z-index: 1;
	bottom: 0;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.audio-container .container-1 table tr td{
	  padding: 5px;
}

.audio-container .container-2 .outter{
	width: 300px;
	border-radius: 20px;
	height: 5px;
	background-color: white;
	position: relative;
}

.audio-container .container-2 .outter .inner{
	width: 215px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	height: 5px;
	position: absolute;
	background-color: green;
}

.audio-container .container-2 .outter .inner .dot{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 215px;
	top: -5px;
	background-color: white;
}

.container-2 .play-icons{
	padding: 0px 15px;
}

.container-2 .one{
	margin-left: 60px;
}

.audio-container .container-3 table{
	  margin-left: 20px;
}

.audio-container .container-3 .outter{
	width: 50px;
	border-radius: 20px;
	height: 5px;
	background-color: white;
	position: relative;
}

.audio-container .container-3 .outter .inner{
	width: 30px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	height: 5px;
	position: absolute;
	background-color: green;
}

.audio-container .container-3 .outter .inner .dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	top: -2px;
	background-color: white;
}


                  /* Popular Artist Images */



.popular-artist-container{
	width: 65%;
	height: 200px;
	margin-left: 80px;
	display: flex;
}

.popular-artist-heading{
	color: #ddd;
	margin-left: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.popular-artist-image{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 20px;
}

.popular-artist-image-container{
	position: relative;
  width: 100%;
  max-width: 140px;
}

.popular-artist-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  width: 130px;
  opacity: 0;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  margin-left: 10px;
  margin-top: 20px;
}

.popular-artist-image-container:hover .popular-artist-overlay{
  opacity: 0.5;
  background-color: gray;
}

.artist-icons{
  color: white;
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.popular-artist-image-caption{
	color: white;
	text-align: center;
}


/* Popular Artist playlist Content */

.playlist-content{
	width: 65%;
	height: 150px;
	background-color: #231F49;
	margin-left: 70px;
	margin-top: 20px;
	border-radius: 10px;
	display: flex;
}

.playlist-image-1{
	width: 120px;
	height: 120px;
	margin: 0px 5px 10px;
	border-radius: 5px;
}

.playlist-image{
	width: 90px;
	height: 90px;
	margin: 15px 15px 0px;
	border-radius: 50%;
	position: relative;
}

.playlist-overlay{
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 15px 15px 0px;
}

.playlist-overlay span{
	position: absolute;
	color: white;
	margin-top: 35px;
	margin-left: 20px;
	font-weight: bolder;
}

/* Popular artist music images  */

.artist-music-image{
	width: 65%;
	height: 150px;
	margin-left: 70px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.music-image-container{
	 width: 280px;
	 height: 150px; 
   overflow: hidden;
   position: relative;
 }

.music-image{
	width: 100%;
	height: 150px;
  transition: .5s all ease-in-out;
}

.music-overlay{
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  width: 280px;
}

.music-overlay span{
	position: absolute;
	color: white;
	top: 50px;
	left: 90px;
	font-size: 25px;
	font-weight: bolder;
}

.music-image-container:hover .music-image{
	transform: scale(2);
}

/* English song container */

.english-song-header{
	color: white;
	margin: 0px 0px 20px 70px;
}

.english-song-container{
	width: 65%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	margin-left: 70px;
	margin-bottom: 90px;
}

.english-song-image{
	width: 140px;
	height: 140px;
	border-radius: 5px;
}

.english-song-caption{
	color: pink;
}

.hindi-song-header{
	color: purple;
	margin: 70px 0px 20px 70px;
}


/* Responsive view css */

/* Responsive header */

@media only screen and (max-width: 580px){
		#header{
		width: 100%;
		height: auto;
		display: flex;
		z-index: 2;
 }

/* First logo of navigation bar */
#header .logo1{
	width: 100%;
	height: 90px;
	border-radius: 50%;
	margin: 3px 0px;
}

#header a{
	margin: 30px;
	font-size: 25px;
	text-decoration: none;
	color: green;
}

/* Header Navigation Search bar */

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  margin: 8px 5px;
}

.icon {
  padding: 5px;
  margin-top: 15px;
  background: #5133A7;
  color: white;
  min-width: 40px;
  height: 30px;
  text-align: center;
  border-radius: 5%;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  height: 30px;
  margin-top: 15px;
  background-color: #5133A7;
}

.input-field:focus {
  border: 1px solid #5133A7;
}

.icon-bell{
	padding: 6px;
	margin: 15px 30px;
}

/* Second logo of navigation bar */
#header .logo2{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

}